<template>
    <main>
        <nav class="navbar" role="navigation" aria-label="dropdown navigation">
            <div class="navbar-brand">
                <a class="navbar-item">
                    <img src="https://bulma.io/images/bulma-logo.png" alt="Bulma: a modern CSS framework based on Flexbox" width="112" height="28">
                </a>
            </div>
            <div class="navbar-menu">
                <div class="navbar-start">
                    <div v-bind:class="{'is-active': isActive}" class="navbar-item has-dropdown">
                        <a v-on:click="toggle" class="navbar-link">Docs</a>
                        <div class="navbar-dropdown">
                            <a class="navbar-item">Overview</a>
                            <a class="navbar-item">Elements</a>
                            <a class="navbar-item">Components</a>
                            <hr class="navbar-divider">
                            <div class="navbar-item">Version 0.6.2</div>
                        </div>
                    </div>
                </div>
            </div>
        </nav>
        <section class="hero is-primary">
            <div class="hero-body">
                <p class="title">Testing Vue/TS/Bulma stuff</p>
                <p class="subtitle">This is just a test stuff. Have fun!</p>
                <p>Is active {{ isActiveText }}</p>
            </div>
        </section>
    </main>
</template>

<script lang="ts">
import Vue from 'vue';
import {Component} from 'vue-property-decorator';


@Component
export default class Shell extends Vue {
    
    // Data
    isActive: boolean = false;

    // Computed
    get isActiveText(): string {
        return `${this. isActive}`;
    }

    // Method
    toggle(): boolean {
        console.log('Toggle...');
        return this.isActive =! this.isActive;
    }
}
</script>

<style lang="scss" scoped>
$bgcolor: #4caf50;
.hero-body {
    background: $bgcolor;
}
</style>


